body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: burlywood;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

p {
  font-size: large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
